# Ignore all files by default
*

# Allow JAR files
!*.jar

# Allow specific files that should be included in Git
!HELP.md
!.mvn/wrapper/maven-wrapper.jar

# Allow everything inside src/main/**/target/ and src/test/**/target/
!**/src/main/**/target/
!**/src/test/**/target/

# Allow everything inside src/main/**/build/ and src/test/**/build/
!**/src/main/**/build/
!**/src/test/**/build/

# Ignore compiled output and build artifacts
target/
build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
